.not-found {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100ve;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register {
  margin-left: 70%;
}